In [53]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

df = pd.read_csv("MBA.csv")
df.head()

,application_id,gender,international,gpa,major,race,gmat,work_exp,work_industry,admission
0,1,Female,False,3.30,Business,Asian,620.0,3.0,Financial Services,Admit
1,2,Male,False,3.28,Humanities,Black,680.0,5.0,Investment Management,NaN
2,3,Female,True,3.30,Business,NaN,710.0,5.0,Technology,Admit
3,4,Male,False,3.47,STEM,Black,690.0,6.0,Technology,NaN
4,5,Male,False,3.35,STEM,Hispanic,590.0,5.0,Consulting,NaN

In [54]:
df['gender'].unique()

array(['Female', 'Male'], dtype=object)

In [55]:
df.admission = df.admission.fillna('No admit')
df.head()

,application_id,gender,international,gpa,major,race,gmat,work_exp,work_industry,admission
0,1,Female,False,3.30,Business,Asian,620.0,3.0,Financial Services,Admit
1,2,Male,False,3.28,Humanities,Black,680.0,5.0,Investment Management,No admit
2,3,Female,True,3.30,Business,NaN,710.0,5.0,Technology,Admit
3,4,Male,False,3.47,STEM,Black,690.0,6.0,Technology,No admit
4,5,Male,False,3.35,STEM,Hispanic,590.0,5.0,Consulting,No admit

In [56]:
admission_mapping = {'Admit': 2, 'Waitlist': 1, 'No admit': 0}
df['admission'] = df.admission.map(admission_mapping)

In [57]:
df[df.international]["race"].unique()

array([nan], dtype=object)

In [58]:
df.race = df.race.fillna('International')
del(df['international'])

In [59]:
df.isnull().sum().sum()

0

In [60]:
del(df['application_id'])

In [61]:
df.groupby("race")["admission"].mean()

race
Asian            0.350480
Black            0.185590
Hispanic         0.221477
International    0.318132
Other            0.405063
White            0.353022
Name: admission, dtype: float64

In [62]:
df.gender = (df.gender == 'Female').astype(int)

for col in df.select_dtypes(include=['object']).columns: # major race and work_industry
    df[col] = LabelEncoder().fit_transform(df[col])

In [63]:
df.head()

   gender   gpa  major  race   gmat  work_exp  work_industry  admission
0       1  3.30      0     0  620.0       3.0              3          2
1       0  3.28      1     1  680.0       5.0              6          0
2       1  3.30      0     3  710.0       5.0             13          2
3       0  3.47      2     1  690.0       6.0             13          0
4       0  3.35      2     2  590.0       5.0              1          0

In [64]:
df.corr()

,gender,gpa,major,race,gmat,work_exp,work_industry,admission
gender,1.000000,-0.022210,-0.025773,-0.002748,-0.022815,0.007427,-0.001822,0.122788
gpa,-0.022210,1.000000,-0.006697,-0.013919,0.577539,0.000346,-0.009687,0.290997
major,-0.025773,-0.006697,1.000000,-0.016681,0.003594,0.006741,0.014921,-0.003042
race,-0.002748,-0.013919,-0.016681,1.000000,-0.018811,0.011747,-0.009973,0.036006
gmat,-0.022815,0.577539,0.003594,-0.018811,1.000000,-0.000999,-0.001258,0.356453
work_exp,0.007427,0.000346,0.006741,0.011747,-0.000999,1.000000,-0.009811,0.009433
work_industry,-0.001822,-0.009687,0.014921,-0.009973,-0.001258,-0.009811,1.000000,-0.004361
admission,0.122788,0.290997,-0.003042,0.036006,0.356453,0.009433,-0.004361,1.000000

In [50]:
df.gender.unique()

array([0])